.wrapperStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #1c1c1c88;
    width: 30%;
    margin-left: 36%;
    background: #939191;
    border-radius: 8px;
}